.footer__subBar{
    text-align: right;
    background-color: $charcoal;
    padding: 10px 0;
}
.footer__subBar__title{
    color: $white;
    margin: 0;
    font-family: "Gilroy" !important;
    font-weight: 400;
    font-size: 12px !important;
}

.footer__socialCopyright{
    background-color: $lighBlack;
    padding: 30PX 0;
}
.footer__socialCopyright__title{
    color: $white;
    margin: 0;
    font-family: "Gilroy" !important;
    font-weight: 400;
    font-size: 12px !important;
    direction: ltr;
}
.footer__socialCopyright__wrapper__item{
    display: inline-block;
    margin-right: 25px;
}
.footer__socialCopyright__wrapper__link{
    width: 21px;
    height: 21px;
}