.header{
    position: absolute;
    z-index: 10;
    padding: 30px 0 20px;
    border-bottom: 1px solid  rgba(255,255,255,0.3);
}
.navbar-dark .navbar-toggler{
    border-color: rgba(255,255,255,.6) !important;
}
.navbar{
    padding: 0;
}
.nav-link{
    color: $white !important;
    padding: 0 15px !important;
}
.menu__main .nav-link{
    border-left: 1px solid  rgba(255,255,255,0.3);
    font-size: 13px !important;
}
.menu__main .navbar-nav .nav-item.no-border .nav-link{
    border-left:unset;
}

.menu__social .ticket__item{
    margin-top: -10px;
    margin-right: 40px;
}
.menu__social .ticket__item__link{
    padding: 10px 40px !important;
    border-radius: 50px;
    color: $primaryColor !important;
    background-color: $white !important;
    text-align: center;
    font-weight: 300;
}
.ticket__item__link.mobile{
    display: none;
    padding: 10px 40px !important;
    border-radius: 50px;
    color: #c7418a !important;
    padding: 10px 40px !important;
    background-color: #fff !important;
    text-align: center;
    font-weight: 300;
    border-radius: 50px;
    z-index: 999;
}
.ticket__item.mobile{
    display: inline-block;
}

.language{
    position: absolute;
    left: 15px;
    bottom: -20px;
    color: #fff !important;
    font-size: 11px !important;
    &:hover{
        color: #fff  !important;
    }
}
.language__text{
    display: inline-block;
}

.navbar-nav .language{
    position: initial;
    left: unset;
    bottom: unset;
}