.header{
    position: absolute;
    z-index: 10;
    padding: 30px 0;
    border-bottom: 1px solid  rgba(255,255,255,0.3);
}
.navbar-dark .navbar-toggler{
    border-color: rgba(255,255,255,.6) !important;
}
.navbar{
    padding: 0;
}
.nav-link{
    color: $white !important;
    padding: 0 15px !important;
}
.menu__main .nav-link{
    border-left: 1px solid  rgba(255,255,255,0.3);
    font-size: 13px !important;
}
.menu__main .navbar-nav .nav-item:last-child .nav-link{
    border-left:unset;
}
.menu__social .ticket__item{
    margin-top: -10px;
    margin-right: 40px;
}
.menu__social .ticket__item__link{
    padding: 10px 40px !important;
    border-radius: 50px;
    color: $primaryColor !important;
    background-color: $white !important;
    text-align: center;
    font-weight: 500;
}
.ticket__item__link.mobile{
    display: none;
}
.ticket__item.mobile{
    display: inline-block;
}

