.holdingTeam{
    padding: 60px 0 90px;
    background-color: $lightGray;
}
.holdingTeam__header{
    font-size: 30px !important;
    font-weight: 700;
    color: $lighBlack;
    margin-bottom: 60px;
}