.panelServices{
    padding: 60px 0 90px;
}
.panelServices__header{
    font-size: 25px !important;
    font-weight: 700;
    color: $lighBlack;
    margin-bottom: 30px;
}
.panelServices__desc{
    font-size: 16px !important;
    font-weight: 400;
    color: $lighBlack;
    margin-bottom: 60px;
}