.schedule{
    background-color: $lighBlack;
    color: $white;
    padding: 60px 0 90px;
    position: relative;
}
.schedule__overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.schedule__header{
    color: $white;
    font-size: 30px !important;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    z-index: 10;
}
.schedule__header__en{
  opacity: 0.05;
  font-family: Gilroy !important;
  font-size: 100px !important;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.9;
  letter-spacing: normal;
  text-align: center;
  color: $white;
  opacity: 0.15;
}
.schedule__starBox{
    background-color: $lightPink;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 1px;
    margin-bottom: 50px;
    margin-right: 15px;
}
.schedule__starBox__inner{
    display: flex;
    align-items:center;
}
.schedule__starBox__desc{
    font-size: 12px !important;
    padding-left: 20px;
}

.schedule__starBox__time{
    font-size: 24px !important;
    font-family: Gilroy !important;
}

.schedule__box__part{
    font-family: Gilroy !important;
    font-size: 60px !important;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 10px;
    color: $white;
}
.schedule__box__time{
  font-family: Gilroy !important;
  font-size: 24px !important;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 10px;
  color:$lightGray;
}
.schedule__breackPoint{
    background-color: $white;
    text-align: center;
    padding: 10px;
    width: 85%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    .schedule__breackPoint__time,
    .schedule__breackPoint__desc{
        font-size: 16px !important;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $lighBlack;
    }
    .schedule__breackPoint__desc{
        padding-left: 10px;
    }
    .schedule__breackPoint__time{
        font-family: Gilroy !important;
        font-size: 24px !important;
    }
}
.is-red{
    color: $lightPink;
}
.is-gray{
    color: $gray;
}
.font-12{
    font-size: 12px !important;
}
.is-bold{
    font-weight: bold;
}
.margin-top-bottom-4-16{
    margin-top: 4px;
    margin-bottom: 16px;
}
.min-height-273{
    min-height: 273px
}
.min-height-200{
    min-height: 200px
}   