


@media (max-width: 575px) { 
    .footer__subBar__title{
        margin-top: 10px;
    }
    .footer__socialCopyright__title{
        margin-bottom: 20px;
    }
 }
@media (min-width: 576px) { 

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px)and(max-width:991px) {
    .itro__img{
        right: 2%;
    }
  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px)and(max-width:1199px) { 
    .itro__img{
        right: 5%;
    }
    .map__location{
        right: 5%
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px)and(max-width: 1399px){ 
    .itro__img{
        right: 10%;
    }
    .map__location{
        right: 10%
    }
  }

@media (min-width: 1400px)and(max-width:1599px) {
    .itro__img{
        right: 15%;
    }
    .map__location{
        right: 15%
    }
  }
@media (min-width: 1600px) {
    .itro__img{
        right: 25%;
    }
    .map__location{
        right: 20%
    }
}






@media (max-width: 992px) { 
    .header{
        border-bottom: none;
    }
    .navbar-collapse {
        background-color: rgba(8, 8, 8, 0.7);
        padding: 20px;
        position: relative;
        z-index: 20;
    }
    .menu__main{
        text-align: center !important;
    }
    .nav-item{
        margin-bottom: 10px;
    }
    .nav-link{
        border-left: unset !important;
        color: $white !important;
    }
    .ticket__item__link.mobile{
        display: block;
    }
    
    .ticket__item.desktop{
        display: none;
    }

    .menu__social .navbar-nav{
        margin: 20px 0;
        flex-direction: row !important;;
        justify-content: center !important;;
    }

    .tdm{
        padding: 60px 0;
    }
    .tdm__img{
        margin-bottom: 30px;
    }
    .tdm__content__bigTitle{
        font-size: 75px !important;
    }
    .map__location{
        text-align: center;
        top: 5%;
        right: 50%;
        transform: translateX(50%);
        height: 200px;
    }
    .map__title{
        margin-bottom: 15PX;
    }
    .map__address, .map__joke{
        margin-bottom: 15PX;
    }
    .map__location__overlay__img{
        display: none
    }        
 }

 
@media (max-width: 575px) { 
    .tdm__content__bigTitle{
        font-size: 50px !important;
        left: 10px;
        top: -15px;
    }
 }