

@media (max-width: 575px) { 
    .footer__subBar__title{
        margin-top: 10px;
    }
    .footer__socialCopyright__title{
        margin-bottom: 20px;
    }
 }
@media (min-width: 576px) { 

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px)and(max-width:991px) {
    .itro__img,
    .intro__logo{
        right: 2%;
    }
  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px)and(max-width:1199px) { 
    .itro__img,
    .intro__logo{
        right: 5%;
    }
    .map__location{
        right: 5%
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px)and(max-width: 1399px){ 
    .itro__img,
    .intro__logo{
        right: 10%;
    }
    .map__location{
        right: 10%
    }
  }

@media (min-width: 1400px)and(max-width:1599px) {
    .itro__img,
    .intro__logo{
        right: 15%;
    }
    .map__location{
        right: 15%
    }
  }
@media (min-width: 1600px) {
    .itro__img,
    .intro__logo{
        right: 25%;
    }
    .map__location{
        right: 20%
    }
}


@media (max-width: 991px) { 
    .header{
        border-bottom: none;
    }
    .navbar-toggler{
        margin-right: 20px;
    }
    .navbar-collapse {
        background-color: rgba(8, 8, 8, 0.85);
        padding: 20px;
        position: relative;
        z-index: 20;
    }
    .menu__main{
        text-align: center !important;
    }
    .menu__main .nav-item{
        margin-bottom: 25px;
    }
    .nav-link{
        border-left: unset !important;
        border-right: unset !important;
        color: $white !important;
    }
    .ticket__item__link.mobile{
        display: block;
        position: absolute;
        top: 20px;
        left: 15%;
    }
    
    .ticket__item.desktop{
        display: none;
    }

    .menu__social .navbar-nav{
        margin: 20px 0;
        flex-direction: row !important;;
        justify-content: center !important;;
    }

    .intro__logo__ballLogo{
        margin-left: 50px
    }
    .intro__logo__persianText {
        margin-right: 80px;
    }

    .tdm{
        padding: 60px 0;
    }
    .tdm__img{
        margin-bottom: 30px;
    }
    .tdm__content__bigTitle{
        font-size: 45px !important;
        top: -15px;
    }
    .game__whyUs{
        width: 100%;
        min-width: unset;
    }
    .game__whyUs__details__desc{
        white-space: normal;
    }
    .game__whyUs__icon{
        position: initial;
        top: unset;
        right: unset;
    }
    .game__header__en,
    .sponsor__header__en{
        font-size: 70px !important;
    }
    .sponsor__header{
        bottom: 20px
    }
    .sponsor__sponsoring{
        padding: 25px 50px;
    }
    .map__location{
        text-align: center;
        top: 5%;
        right: 50%;
        transform: translateX(50%);
        height: 200px;
    }
    .map__title{
        margin-bottom: 15PX;
    }
    .map__address, .map__joke{
        margin-bottom: 15PX;
    }
    .map__location__overlay__img{
        display: none
    }        
 }

 
@media (max-width: 575px) { 
    .ticket__item__link.mobile{
        position: absolute;
        top: unset;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
    }

    .intro{
        background-image: unset;
        background-color: #c84289;
    }
    .intro__logo{
        position: unset;
        right: unset;
        width: 350px;
        transform: translateY(75%);
        margin: 0 auto;
        height: 190px;
    }
    .intro__logo__number{
        text-align: center;
    }
    .intro__logo__dribleLogo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 160px;
    }
    .intro__logo__ballLogo{
        margin-left: 40px;
    }
    .intro__logo__ballLogo__img{
        width: 60px;
    }
    .intro__logo__persianText{
        text-align: center;
        margin-right: 0
    }
    .intro__logo__ballLogo__text{
        font-size: 40px !important;
    }
    .intro__logo__ballLogo__text.moveTop{
        top: -15px;
    }
    .intro__logo__persianText.moveTop{
        top:-15px;
        right: 0;
    }




    .tdm__content{
        padding: 0 15px;   
    }
    .tdm__content__title{
        text-align: center;
    }
    .tdm__content__bigTitle{
        font-size: 30px !important;
        position: relative;
        text-align: center
    }
    .panelServices__header,
    .providers__header,
    .schedule__header{
        top: -50px;
    }
    .schedule__header__en{
        margin-bottom: 30px;
    }
    .game__header{
        top: -30px;
    }
    .schedule__header__en,
    .panelServices__header__en,
    .providers__header__en,
    .game__header__en,
    .sponsor__header__en{
        font-size: 45px !important;
    }
    .sponsor__sponsoring__img{
        width: 100px;
        bottom: 55px;
    }

    .map__location{
        width: 100%;
        top:0;
    }
    .schedule__overlay__img,
    .panelServices__overlay{
        display: none;
    }
    .provide__item__title{
        text-align: center !important;
        margin-right: 0 !important;
    }
    .schedule__box {
        min-height: 100px !important;
        margin-bottom: 20px;
    }
    .schedule__breackPoint{
        position: initial;
    }
    .schedule__wrapper__starBox{
        text-align: center;
    }
    
 }