// Add your settings here
$primaryColor : #c7418a;
$darkPurple: #35168e;
$lightPink: #ea4c89;
$white : #fff;
$black : #000;
$lighBlack: #1f1f1f;
$lightGray : #f3f3f3;
$gray : #b0b0b0;







// helper class
.relative{
    position: relative;
}