// Add your settings here
$primaryColor : #c7418a;
$darkPurple: #35168e;
$lightPink: #ea4c89;
$white : #fff;
$black : #000;
$lighBlack: #1f1f1f;
$lightGray : #f3f3f3;
$gray : #b0b0b0;
$charcoal :#2d2d2d;



html{
  scroll-behavior: smooth;
}


// helper class
.relative{
    position: relative;
}
.margin-b-30{
  margin-bottom: 30px;
}


a {
    text-decoration: none !important;
    transition: color 0.2s ease-in-out;
  }
a:hover{
  color: #35168d !important;
}
  /**
   * Improve readability when focused and also mouse hovered in all browsers.
   */
  
  a:active,
  a:hover {
    outline: 0;
    text-decoration: none !important;
  }
  